.receiver {
    margin-bottom: 12px;
}

.person {
  color: #424d46;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-right: 8px;
}

.name {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #6a7670;
}
